<a href="https://colab.research.google.com/github/juanpalominoh/Analisis-Espacial-Pobreza/blob/main/Tema_1_Introducci%C3%B3n_a_R_en_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tema 1: Introducción a R en Google Colab

Para usar R en Google Colab es importante darle el formato adecuado. Ir al siguiente URL: https://colab.research.google.com/#create=true&language=r

## I. Opciones de ayuda e instalación de paquetes

In [ ]:
# 1. Pedir ayuda 
help(lm)
?lm

In [ ]:
# 2. Instalar paquetes
install.packages("plm")
#Cada vez que se instale un paquete es necesario llamar la librería
library("plm")

In [ ]:
# 2.1 Ayuda (no necesariamente conectado a internet)
help(plm)
?plm

In [ ]:
# 2.2 Con caracteres especiales es necesario que vaya ""
help("plm")
help("*")

In [ ]:
# 2.3 Busqueda de varios paquetes
help.search("bs")
help("bs", try.all.packages=TRUE)

## II. Variables, Asignaciones y Tipo de Datos

1. Calculos aritméticos con R

In [ ]:
15 + 5

[1] 20

In [ ]:
20 - 8

In [ ]:
30 * 6

In [ ]:
80 / 5

In [ ]:
40 ^ 2

In [ ]:
50 %% 3

In [ ]:
# Al no asignar podemos obtener el resultado de una operación sin que quede guardado en la memoria

2. Asignaciones a variables

In [ ]:
y <- 15 + 5
y
y <- 5
y
nota <- 18
nota
print(nota)

3. Distinción entre mayusculas y minusculas

In [ ]:
x <- 36
X <- 6
x
X

4. Operaciones

In [ ]:
examen_1 <- 10
examen_2 <- 6
final <- (examen_1 + examen_2)/2
final

# Puede ser usado para otras funciones
sqrt(x)

5. Para borrar objetos de la memoria función rm()

In [ ]:
#Borra selectivamente al elemento x
rm(x)

6. Borrar todos los elementos almacenados en la memoria

In [ ]:
rm(list=ls())
rm(list = ls(all = TRUE))

7. Tipo de Datos en R

In [ ]:
# a. Numerico
my_numeric <- 42

In [ ]:
# b. Caracter
my_character <- "Introducción"

In [ ]:
# c. Lógico
my_logical <- FALSE

9. Clase de Tipos de Datos

In [ ]:
class(my_numeric)
class(my_character)
class(my_logical)

Ejemplo:

In [ ]:
# Caracteres
character(8)

In [ ]:
# Conversion
as.character("8")

In [ ]:
# Tests
is.character(8) 
is.character("8")

# III. Vectores

## 1. Asignación de Vectores

In [ ]:
numeric_vector   <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

In [ ]:
# E1: Completa el codigo para boolean_vector con TRUE, FALSE, TRUE
boolean_vector <-c()
boolean_vector

In [ ]:
# E2: Una empresa invierte en dos negocios en una semana teniendo como resultado:
# Ingresos y Gastos de Lunes a Viernes en su primer negocio
# Lunes ganas 900 soles
# Martes ganas 1000 soles
# Miercoles pierdes 500 soles
# Jueves pierdes 100 soles
# Viernes ganas 200 soles
primer_vector <- c()

In [ ]:
# Ingresos y Gastos de Lunes a Viernes en su segundo negocio
# Lunes ganas 3000 soles
# Martes pierdes 5000 soles
# Miercoles pierdes 850 soles
# Jueves ganas 1400 soles
# Viernes pierdes 900
segundo_vector <-  c()

## 2. Nombrando un Vector

In [ ]:
# Asignando dias como nombres de primer_vector
names(primer_vector) <- c("Lunes", "Martes", "Miercoles", "Jueves", "Viernes")

In [ ]:
# E3: Asignando dias como nombres de segundo_vector
names(segundo_vector) <- c()

In [ ]:
# E4: 
# Otra manera es creando los vectores de los d?as
dias_vector <- c("Lunes", "Martes", "Miercoles", "Jueves", "Viernes")

In [ ]:
# Asignar los nombres de los dÍas a primer y segundo vector
names(primer_vector)    <- 
names(segundo_vector)   <-

## 3. Cálculos a través de Vectores

In [ ]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Realizar la suma de los vectores
total_vector <- A_vector+ B_vector

# Mostrar la suma total
print(total_vector)

In [ ]:
# E1: Asignar a dia_total cuanto tu ganaste o perdiste en cada día
total_dia <- 
total_dia

In [ ]:
# E2: Beneficio total de los 5 d?as
total_semana <- sum(total_dia)
total_semana

## 4. Comparando Vectores

In [ ]:
total_primero <- sum(primer_vector)
total_segundo <- sum(segundo_vector)
total_primero > total_segundo

## 5. Selección de Vector

In [ ]:
dia_jueves <- primer_vector["Jueves"]
dia_jueves

In [ ]:
# E1: Seleccionar los días Martes, Miércoles y Jueves del primer vector
tres_dias <- primer_vector[c("Martes", "Miercoles", "Jueves")]

In [ ]:
# E2: Seleccionar desde el segundo elemento hasta el quinto elemento
cuatro_dias <- primer_vector[2:5]
cuatro_dias

In [ ]:
# E3: ¿Qué días ganas en el primer negocio?
selection_vector <- primer_vector > 0
selection_vector

# IV. Matrices

## 1. Contruir una matriz con 3 filas que contiene los números del 1 al 9

In [ ]:
matrix(1:9, byrow = TRUE, nrow = 3)

## 2. Analizando matrices

In [ ]:
# En los siguientes vectores tu tienes los ingresos de los economistas de la Pacifico, Catolica y UPC antes y despues de los 25 años
pacifico <- c(5940, 7200)
catolica <- c(5183, 8500)
upc      <- c(5036, 6300)

In [ ]:
# E1: Crea el vector de ingresos
ingresos <- c()
ingresos

In [ ]:
# E2: Construye la matriz ingreso_univ con 3 filas, donde cada fila represente una universidad
ingreso_univ <- matrix(ingresos, nrow=3, byrow=TRUE)
ingreso_univ

In [ ]:
# Tenemos los vectores de universidades y edades
edades <- c("Menor a 25 años", "Mayor a 25 años")
universidades <- c("Pacifico", "Catolica", "UPC")

In [ ]:
# E3: Nombrar las columnas con el vector "edades"
colnames(ingreso_univ) <-

In [ ]:
# E4: Nombrar las filas con el vector "univeridades"
rownames(ingreso_univ) <-

# Mostrar la matriz
print(ingreso_univ)

In [ ]:
# E5: Calcular la suma por filas
suma_ingreso <- rowSums(ingreso_univ)
suma_ingreso

In [ ]:
# E6: Agrega el vector de suma_ingreso a la matriz ingreso_univ
all_matrix <- cbind()
all_matrix

In [ ]:
# E7: Agrega el vector de Universidad de Lima a la matriz ingreso_univ
lima_univ <- c(5015, 7000)
all_matrix <- rbind(ingreso_univ, lima_univ)
all_matrix

In [ ]:
# E8: Multiplica all_matrix * 12 para calcular el ingreso anual y asignala a ingreso_anual
ingreso_anual <- 
ingreso_anual

In [ ]:
# Calcular promedio de columnas
colMeans(ingreso_anual)

In [ ]:
# Elegir la diagonal principal
diag(all_matrix)

In [ ]:
# Matriz inversa
solve(all_matrix)

In [ ]:
# Herramienta para manejar el redondeo
all_matrix %*% solve(all_matrix)
zapsmall(all_matrix %*% solve(all_matrix))

## V. Factores

## 1. Variable Binaria

In [ ]:
sexo_vector <- c("Hombre", "Mujer", "Mujer", "Hombre", "Hombre")
sexo_vector

In [ ]:
# Convertir sex_vector a un factor
factor_sexo_vector <- factor(sexo_vector)

In [ ]:
# Mostrar factor_sex_vector
print(factor_sexo_vector)

## 2. Variable Categórica: Nominal y Ordenadas

In [ ]:
# Variable Nominal
animales_vector <- c("Elefante", "Jirafa", "Mono", "Caballo")
factor_animales_vector <- factor(animales_vector)
factor_animales_vector

In [ ]:
# Variable Ordenada
temperatura_vector <- c("Alta", "Baja", "Alta", "Baja", "Media")
factor_temperatura_vector <- factor(temperatura_vector, order = TRUE, levels = c("Baja", "Media", "Alta"))
factor_temperatura_vector  
summary(factor_temperatura_vector)

# V. Leer datos desde archivos (EXCEL, STATA, SPSS)

Stata

In [ ]:
# Stata 12
install.packages("foreign")
library("foreign")
base2017 <- read.dta(paste0(inputs, "base_regresion_v12.dta") , convert.factors = FALSE)

# Stata 13 en adelante
install.packages("readstata13")
library(readstata13)
data <- read.dta13(paste0(inputs, "base_empleo.dta") , convert.factors = FALSE)
summary(data)
names(data)
head(data)

SPSS

In [ ]:
base2017_spss = read.spss(paste0(inputs, "base_regresion_spss.sav"), to.data.frame=TRUE, use.value.labels=TRUE)
names(base2017_spss)

## CSV

In [ ]:
base_csv<-read.csv(paste0(inputs, "Venta Departamentos.csv"), header=TRUE)

## Excel

In [ ]:
install.packages('readxl')
library(readxl)

In [ ]:
base2017_excel <- read_excel(paste0(inputs, "base_excel.xlsX"), sheet=1)
head(base2017_excel,8)
summary(base2017_excel)

# Exportar Datos

In [ ]:
rm(list = ls(all = TRUE))
talla <- c(150, 156, 166, 175, 175)
peso <- c(75, 70, 72, 80, 55)
provincia <- c("Lima", "Trujillo", "Piura", "Chiclayo", "Amazonas")
datos <- as.data.frame(cbind(talla, peso, provincia))
datos

In [ ]:
write.table(datos, paste0(works, "misdatos.txt"), sep = "\t", quote = F, row.names = F)

# VI. Data Frames

In [ ]:
# 1. Estructura de la base de datos
head(base2017_excel)
tail(base2017_excel)
str(base2017_excel)

In [ ]:
# 2. Selección de la base de datos
base2017_excel[2,3]
base2017_excel[4,]
base2017_excel[,4]
base2017_excel[1:4, 3]
base2017_excel[1:4, "provincia"]
base2017_excel$provincia

In [ ]:
# 3. Subconjunto
subset(base2017_excel, subset = provincia == "Callao")

In [ ]:
# 4. Ordenamiento
positions<-  order(base2017_excel$ing_fam_pc)
base2017_excel[positions, ]

# VII. Listas

## 1. Creando Listas

In [ ]:
# Vector con números del 1 al 10
my_vector <- 1:10 

# Matriz con números del 1 al 9
my_matrix <- matrix(1:9, ncol = 3)

# Primeros 10 elementos del data frame base2017_excel
my_df <- base2017_excel[1:10,]

# Adapta list() para nombrar a los componentes
my_list <- list(vec=my_vector, mat=my_matrix, df=my_df)

# Mostrar my_list
my_list

## 2. Seleccionando elementos de una lista

In [ ]:
my_list$df
my_list$df[["zona"]]

## 3. Agregando información a la lista

In [ ]:
my_list_full <- c(my_list, year=2017)
str(my_list_full)